################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MSS/x64/Debug
/MSS/Debug
/MSS/.vs/MSS/v14
/MSS/MSS.VC.VC.opendb
/MSS/MSS.VC.db
