################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MSS/.vs/MSS/v14
/MSS/MSS.VC.VC.opendb
/MSS/MSS.VC.db
/MSS/MSS.opendb
/MSS/MSS.opensdf
/MSS/MSS.db

